#mailgun-message {
    padding: 5px;
    margin: 10px 0 0 0;
    background: #555;
    color: #fff;
}
#mailgun-message div {
    padding: 2px;
}
#mailgun-message mark.did-you-mean {
    background-color: #cb1b00;
    color: #fff;
    display: block;
    font-weight: bold;
    padding: 1px;
    margin-top: 2px;
}